
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 8px 12px;
    width: 30vw;
    max-width: 45vw;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky; /* Make the search bar sticky */
    top: 0; /* Start sticking from the top of the viewport */
    z-index: 1000; /* Ensure it's above other content */
}

.search-icon {
    display: flex;
    align-items: center;
    flex: 1;
}

.search-icon svg {
    margin-right: 8px;
    color: #888;
}

.search-icon input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 14px;
}

.icons {
    display: flex;
    align-items: center;
}

.icons svg {
    margin-left: 8px;
    color: #888;
}
